
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/


.vscode/


.DS_Store
Thumbs.db



backup/
backups/
MyBackups/

*.vcf
*.csv



local.properties
key.properties
secret.properties

# Log fayllar:
*.log